<!-- info section -->

<section style="margin-top: 250px;">
  <div style="text-align: center; background-color: #0F4C81; padding: 10px; color: white;">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="http://localhost:8000/user/home" style="text-decoration: none; color: white;">MD'S Infotech</a>
    </p>
  </div>
</section>

</body>

</html>